header {
    color: #2ca9e4;
    /* text-align: center; */
}
/* body {
    padding: 30px;
} */
#hat {
    font-size: 1.8em;
    /* margin: -15px; */
}

/*! navigation menu */
nav {
    background-color: #2ca9e4;
    color: white;
    letter-spacing: 0.15em;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 1.5em;

}

#navigation {
    display: grid;
    grid-template-columns: auto auto auto;
}

#navigation a {
    text-decoration: none;
    color: white;
}

#navigation a:hover {
    color: black;
}

/* !banner */

.image_container {
    width: auto;
    height: 150px;
}

.image_container img {
    width: 100%;
    /* Изображение должно быть шире, чем контейнер */
    height: 100%;
    /* Изображение должно быть выше, чем контейнер */
    object-fit: cover;
    /* Обрезка изображения */
}

/* !middle content */
section {
    margin-bottom: 15px;
}

#content {
    /* margin-right: 30px; */
    float: left;
    width: 640px;
}

/* !news */
#right {
    margin-left: 670px;
    margin-right: 30px;
    /* float: right; */
}

/* !footer */
footer {
    clear: both;
}


@media (min-width: 500px) and (max-width: 900px) {
    #content {
        width: 100%;
        /* float: none; */
    }

    aside {
        display: grid;
        grid-template-columns: 30% auto auto;
        gap: 5%;

    }

    #right {
        clear: both;
        margin-left: 0;
        margin-right: 0;
    }

}

@media (max-width: 499px) {
    #navigation {
        display: grid;
        text-align: left;
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
    }

    #content {
        width: 100%;
        /* float: none; */
    }

    aside {
        width: 100%;

    }

    #right {
        width: 100%;
        clear: both;
        margin-left: 0;
        margin-right: 0;
    }
}




caption {
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    object-fit: cover;

}

/* html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  } */

/* html{
    height: 100%;
  } */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fixed_height {
    /* flex: 300px; Фиксированная высота первого div */
    width: 220px;

    /* float: left; */
    /* Остальные стили первого div */
}



.scrollable_content {
    margin-top: -120px;
    margin-left: 250px;
    /* float: right; */
    flex: 1;
    /* Разрешить второму div занимать оставшееся пространство */
    overflow: auto;
    /* Добавляем возможность прокрутки */
    /* Остальные стили второго div */
}